body {
	width: 500px !important;
	backgroud: black;
	padding: 0;
}
.input-xmini {
	width: 15px !important;
}
.input-mini {
	width: 50px !important;
}
.fleft {
	float: left;
}
footer p,
footer a {
	vertical-align: text-top;
	line-height: 14px;
	margin: 0;
}